@import url("normalize.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  font-weight: bold;
  background: #008974;
  color: white;
}

.create-match-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-match-section__heading {
  font-size: 6rem;
}

.create-match-section__btn {
  font-size: 3rem;
  padding: 2rem;
  background: white;
  color: #008974;
  border-radius: 2rem;
  cursor: pointer;
  transition: letter-spacing 0.5s ease-in-out;
}

.create-match-section__btn:hover {
  letter-spacing: 1px;
}

.flex-2-row {
  display: flex;
  width: 100vw;
}

.team-a,
.team-b {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 2rem;
  padding: 2rem;
}

.player {
  height: 200px;
  background: white;
  color: #008974;
  font-size: 1.7rem;
}

.add-player-btn {
  position: relative;
  top: 5%;
  left: 30%;
  font-size: 12rem;
  cursor: pointer;
}

.hidden {
  display: none;
}
